@model Excellency.ViewModels.PositionIndexViewModel
@{
    ViewData["Title"] = "Position";
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Positions</h3>
        <div class="right">
            <button type="button" data-toggle="modal" data-target="#addnew"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Level</th>
                        <th scope="col" class="col-md-1"></th>
                        <th scope="col" class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Positions)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td>@item.LevelDescription</td>
                            <td class="text-center"><a data-toggle="modal" data-target="#edit" data-id="@item.Id" data-description="@item.Description" data-level="@item.Level"><i class="fa fa-pencil text-success"></i></a></td>
                            <td class="text-center"><a data-toggle="modal" data-target="#delete" data-id="@item.Id"><i class="fa fa-trash text-danger"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Add New -->
<div class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    @using (Html.BeginForm("Save", "Position"))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Position</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label form="level">Level</label>
                        <select name="level" id="level" class="form-control">
                            @foreach (var item in Model.Levels)
                            {
                                <option value="@item.Id">@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    }
</div>
<!--End of Save-->
<!-- Edit -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    @using (Html.BeginForm("Save", "Position"))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Position</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id" />
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label form="level">Level</label>
                        <select name="level" id="level" class="form-control">
                            @foreach (var item in Model.Levels)
                            {
                                <option value="@item.Id">@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    }
</div>
<!--End Of Edit-->
<!--Delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Delete", "Position"))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id" />
                    <p>Are you sure you want to delete the current record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $('#addnew').on('show.bs.modal', function (event) {
            $(".modal-body #id").val(0)
            $(".modal-body #description").val('')
            $(".modal-body #level").val('')
        })
        $('#edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var description = button.data('description')
            var level = button.data('level')
            $(".modal-body #id").val(id)
            $(".modal-body #description").val(description)
            $(".modal-body #level").val(level)
        })
    </script>
    <script type="text/javascript">
        $('#delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            $(".modal-body #id").val(id)
        })
    </script>
}

