@model Excellency.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="panel">
    <div class="panel-body">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <i class="fa fa-times-circle"></i> @ViewBag.Message
            </div>
        }
        @using (Html.BeginForm("ChangePassword", "UserAccount"))
        {
            <div class="form-group">

                <label for="currentpassword">Current Password</label>
                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CurrentPassword)
            </div>
            <div class="form-group">

                <label for="newpassword">New Password</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="form-group">

                <label for="confirmpassword">Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <button type="submit" class="btn btn-primary"> Change Password</button>
        }
    </div>
</div>

