@model Excellency.ViewModels.RaterEditViewModel
@{
    ViewData["Title"] = "Rater Assignment";
}


<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Assigned employess for : @Model.Name</h3>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("AddSelectedEmployee", "RaterAssignment"))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" value="@Model.Id" name="Id" />
            <div class="form-group">
                <label for="searchemployee">Select employee to add</label>
                <select multiple class="chosen-select form-control" data-placeholder="Select Employee" name="SelectedEmployee">
                    @foreach (var item in Model.Employees)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add To List</button>
            </div>
        }
        <table class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th hidden="hidden">LineId</th>
                    <th hidden="hidden">EmployeeId</th>
                    <th>Employee</th>
                    <th>Company</th>
                    <th>Branch</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AssignedEmployees)
                {
                    <tr>
                        <td hidden="hidden">@item.LineId</td>
                        <td hidden="hidden">@item.Id</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.Company</td>
                        <td>@item.Branch</td>
                        <td>@item.Department</td>
                        <td>@item.Position</td>
                        <td><a data-toggle="modal" data-target="#delete" data-whatever="@item.LineId"><i class="fa fa-trash text-danger"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemoveLineItem", "RaterAssignment"))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                    <input type="hidden" value="@Model.Id" name="Id" />
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the current record?</p>
                    <input type="text" name="SelectedLineItem" hidden="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".chosen-select").chosen(
                { width: "100%" }
            );
        });
    </script>
    <script type="text/javascript">
        $('#delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-body input').val(id)
        })
    </script>
}
