@model Excellency.ViewModels.KeyResultAreaContentViewModel
@{
    ViewData["Title"] = "Content";
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Title</h3>
        <p class="panel-subtitle">@Model.Description</p>
    </div>
    <div class="panel-body">
        <div class="clearfix" />
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Key Success Indicator</h3>
                <p class="panel-subtitle">Total Weight : @Model.SuccessIndicators.Sum(a => a.Weight)</p>
                <div class="right">
                    <button type="button" data-toggle="modal" data-target="#addnew" data-kraid="@Model.KeyResultAreaId"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed" id="ksicontent">
                        <thead>
                            <tr>
                                <th hidden="hidden">Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Weight</th>
                                <th scope="col" class="col-md-1"></th>
                                <th scope="col" class="col-md-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var count = 0;}
                            @foreach (var item in Model.SuccessIndicators)
                            {
                                var id = "weight" + count.ToString();
                                <tr>
                                    <td hidden="hidden">@item.Id</td>
                                    <td><strong>@item.Title</strong></td>
                                    <td>@item.Description</td>
                                    <td>@item.Weight <input type="hidden" id="@id" value="@item.Weight" /></td>
                                    <td class="text-center"><a data-toggle="modal" data-target="#edit" data-id="@item.Id" data-title="@item.Title" data-weight="@item.Weight" data-description="@item.Description" data-kraid="@Model.KeyResultAreaId" data-original="@item.Weight"><i class="fa fa-pencil text-success"></i></a></td>
                                    <td class="text-center"><a data-toggle="modal" data-target="#delete" data-id="@item.Id" data-kraid="@Model.KeyResultAreaId"><i class="fa fa-trash text-danger"></i></a></td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New -->
<div class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    @using (Html.BeginForm("SaveKeySuccessIndicator", "KeyResultArea", FormMethod.Post, new { @id = "formadd" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Key Success Indicator</h4>
                </div>
                <div class="modal-body">
                    <div class="text-danger" id="savemessage"></div>
                    <input type="hidden" name="kraid" id="kraid" />
                    <div class="form-group">
                        <label for="ksititle">Title</label>
                        <input class="form-control" name="ksititle" id="ksititle" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <label for="ksidescription">Description</label>
                        <input class="form-control" name="ksidescription" id="ksidescription" placeholder="Description" />
                    </div>
                    <div class="form-group">
                        <label for="ksiweight">Weight</label>
                        <input type="number" class="form-control" name="ksiweight" id="ksiweight" placeholder="Weight" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="return validateSave();">Save</button>
                </div>
            </div>
        </div>
    }
</div>
<!--End of Save-->
<!-- Edit -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    @using (Html.BeginForm("SaveKeySuccessIndicator", "KeyResultArea", FormMethod.Post, new { @id = "formedit" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Key Success Indicator</h4>

                </div>
                <div class="modal-body">
                    <div class="text-danger" id="editmessage"></div>
                    <input type="hidden" name="ksiid" id="ksiidedit" />
                    <input type="hidden" name="kraid" id="kraidedit" />
                    <input type= "hidden" id="originaledit" />
                    <div class="form-group">
                        <label for="ksititle">Title</label>
                        <input class="form-control" name="ksititle" id="ksititleedit" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <label for="ksidescription">Description</label>
                        <input class="form-control" name="ksidescription" id="ksidescriptionedit" placeholder="Description" />
                    </div>
                    <div class="form-group">
                        <label for="ksiweight">Weight</label>
                        <input type="number" class="form-control" name="ksiweight" id="ksiweightedit" placeholder="Weight" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="return validateEdit();">Save</button>
                </div>
            </div>
        </div>
    }
</div>
<!--End Of Edit-->
<!--Delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemoveSuccessIndicator", "KeyResultArea"))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="ksiid" id="ksiid" />
                    <input type="hidden" name="kraid" id="kraid" />
                    <p>Are you sure you want to delete the current record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        }
    </div>
</div>
<!--End of Delete-->


@section Scripts{
    <script type="text/javascript">

        function validateSave() {
            var rows = document.getElementById('ksicontent').getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
            var weight = parseFloat($('#ksiweight').val());
            var total = 0;
            for (var i = 0; i <= rows - 1; i++) {
                var name = "#weight" + i;
                total += parseFloat($(name).val());
            }

            console.log(total);
            var grandtotal = total + weight;
            console.log(grandtotal)
            if (grandtotal > 100) {
                document.getElementById("savemessage").innerHTML = "Total percentage should be equal to 100. You still have " + (100 - total) + " to continue.";
                return false;
            }

            else {
                formadd.submit();
            }
        }
        function validateEdit() {
            var rows = document.getElementById('ksicontent').getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
            var weight = parseFloat($('#ksiweightedit').val());
            var original = parseFloat($('#originaledit').val());
            var total = 0;
            for (var i = 0; i <= rows - 1; i++) {
                var name = "#weight" + i;
                total += parseFloat($(name).val());
            }
            var grandtotal = (total - original) +  weight;
            if (grandtotal > 100) {
                document.getElementById("editmessage").innerHTML = "Total percentage should be equal to 100. You still have " + (100 - total) + " to continue.";
                return false;
            }

            else {
                formedit.submit();
            }


        }
        $('#addnew').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var kraid = button.data('kraid')
            var modal = $(this)
            $(".modal-body #kraid").val(kraid)
            $(".modal-body #ksititle").val('')
            $(".modal-body #ksidescription").val('')
            $(".modal-body #ksiweight").val(0)

        })
    </script>
    <script type="text/javascript">
        $('#edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var kraid = button.data('kraid')
            var id = button.data('id')
            var title = button.data('title')
            var description = button.data('description')
            var weight = button.data('weight')
            $(".modal-body #kraidedit").val(kraid)
            $(".modal-body #ksiidedit").val(id)
            $(".modal-body #ksititleedit").val(title)
            $(".modal-body #ksidescriptionedit").val(description)
            $(".modal-body #ksiweightedit").val(weight)
            $(".modal-body #originaledit").val(weight)

        })
    </script>

    <script type="text/javascript">
        $('#delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var kraid = button.data('kraid')
            var id = button.data('id')
            var modal = $(this)
            $(".modal-body #kraid").val(kraid)
            $(".modal-body #ksiid").val(id)
        })
    </script>

}

