@model Excellency.ViewModels.ApprovalLevelAssignViewModel
@{
    ViewData["Title"] = "Assign";
}
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Approval Level for : @Model.Name</h3>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Save", "ApprovalLevel"))
        {
            @Html.HiddenFor(m => m.ApprovalLevel.Id)
            <input type="hidden" name="ApprovalLevel.EmployeeId" value="@Model.EmployeeId" />
            <div class="form-group">

                @if (Model.ApprovalLevel != null)
                {
                    @if (Model.ApprovalLevel.IsWithSecondApproval == "on")
                    {
                        <input type="checkbox" id="iswithsecondapproval" name="ApprovalLevel.IsWithSecondApproval" checked><span><label for="iswithsecondapproval"> Second Approval</label></span>
                    }
                    else
                    {
                        <input type="checkbox" id="iswithsecondapproval" name="ApprovalLevel.IsWithSecondApproval"><span><label for="iswithsecondapproval"> Second Approval</label></span>
                    }
                }
                else
                {
                    <input type="checkbox" id="iswithsecondapproval" name="ApprovalLevel.IsWithSecondApproval"><span><label for="iswithsecondapproval"> Second Approval</label></span>
                }
            </div>
            <div class="clearfix"></div>
            <div class="form-group">


                @if (Model.ApprovalLevel != null)
                {
                    <input type="hidden" id="firstapproval" value="@Model.ApprovalLevel.FirstApprovalId" />
                }
                else
                {
                    <input type="hidden" id="firstapproval" value="0" />
                }
                <label for="firstapproval">First Approval</label>
                @Html.DropDownListFor(m => m.ApprovalLevel.FirstApprovalId, Model.FirstApprovers, new { @class = "form-control" })
            </div>
            <div class="form-group">

                @if (Model.ApprovalLevel != null)
                {
                    <input type="hidden" id="secondapproval" value="@Model.ApprovalLevel.SecondApprovalId" />
                }
                else
                {
                    <input type="hidden" id="secondapproval" value="0" />
                }

                <label for="secondapproval">Second Approval</label>
                @Html.DropDownListFor(m => m.ApprovalLevel.SecondApprovalId, Model.SecondApprovers, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        var firstapproval = $('#firstapproval').val();
        var secondapproval = $('#secondapproval').val();

        if (firstapproval == '0') {
            $('#ApprovalLevel_FirstApprovalId').val('');
        }

        if (secondapproval == '0') {
            $('#ApprovalLevel_SecondApprovalId').val('');
        }

        const checkbox = document.getElementById('iswithsecondapproval')
        var item = checkbox.checked;
        if (item == false) {
            $('#ApprovalLevel_SecondApprovalId').attr("disabled", true);
            $('#ApprovalLevel_SecondApprovalId').val('');
        }
        checkbox.addEventListener('change', (event) => {
            if (event.target.checked) {

                $('#ApprovalLevel_SecondApprovalId').attr("disabled", false);
                $('#ApprovalLevel_SecondApprovalId').val('');
            } else {

                $('#ApprovalLevel_SecondApprovalId').attr("disabled", true);
                $('#ApprovalLevel_SecondApprovalId').val('');
            }

        })
    </script>
}