@model Excellency.ViewModels.ApprovalLevelIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title"> Approval Level Assignment</h3>
        <p class="panel-subtitle">Approval Assignment per Employee</p>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <div class="input-group col-md-4">
                <input type="text" id="searchkey" class="form-control" placeholder="Search...">
                <span class="input-group-btn"><button type="button" id="search" class="btn btn-primary">Search</button></span>
            </div>
            <br />
            <div class="clearfix"></div>
            <table class="table table-condensed" id="employeelist">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Branch</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="emplist">
                    @foreach (var item in Model.Employees)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Company</td>
                            <td>@item.Branch</td>
                            <td>@item.Department</td>
                            <td>@item.Position</td>
                            @if (item.IsSet)
                            {
                                <td><span><label class="label label-success">SET</label></span></td>
                            }
                            else
                            {
                                <td><span><label class="label label-warning">UNSET</label></span></td>
                            }
                            <td><a class="fa fa-trash text-danger" data-toggle="modal" data-target="#delete" data-id="@item.Id"></a></td>
                            <td><a class="fa fa-clone text-success" asp-controller="ApprovalLevel" asp-action="Assign" asp-route-id="@item.Id"></a></td>

                        </tr>
                    }
                </tbody>
            </table>
            <ul class="pagination">
                @{ var prev = ViewBag.CurrentPage - 1;}
                @{ var next = ViewBag.CurrentPage + 1;}

                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item"><a class="page-link lnr lnr-arrow-left" asp-controller="ApprovalLevel" asp-action="Index" asp-route-page="@prev"></a></li>
                }

                @for (int i = ViewBag.MinCount; i <= ViewBag.MaxCount; i++)
                {
                    <li class="page-item"><a class="page-link" asp-controller="ApprovalLevel" asp-action="Index" asp-route-page="@i">@i</a></li>
                }
                @if (ViewBag.CurrentPage <= ViewBag.MaxPage)
                {
                    <li class="page-item"><a class="page-link lnr lnr-arrow-right" asp-controller="ApprovalLevel" asp-action="Index" asp-route-page="@next"></a></li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemoveById", "ApprovalLevel"))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" />
                    <p>Are you sure you want to delete the current record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var modal = $(this)
            modal.find('.modal-body input').val(id)
        })

        $('#search').on('click', function () {
            var keyword = $("#searchkey").val();
            if (keyword.length > 0) {
                $.ajax({
                    url: 'Search',
                    data: { 'term': keyword },
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (data) {
                        $('#emplist').empty();
                        var len = data.result.length
                        var html = '';
                        for (var i = 0; i < len; i++) {

                            var span = '';
                            if (data.result[i]['isSet'] == 'true') {
                                span = '<td><span><label class="label label-success">SET</label></span></td>';
                            }
                            else {
                                span = '<td><span><label class="label label-warning">UNSET</label></span></td>';
                            }
                            html += `<tr>
                                    <td>` + data.result[i]['name'] +`</td>
                                    <td>` + data.result[i]['company'] +`</td>
                                    <td>` + data.result[i]['branch'] +`</td>
                                    <td>` + data.result[i]['department'] +`</td>
                                    <td>` + data.result[i]['position'] +`</td>
                                    ` + span +`
                                    <td><a class="fa fa-trash text-danger" data-toggle="modal" data-target="#delete" data-id="` + data.result[i]['id'] + `"></a></td>
                                    <td><a class="fa fa-clone text-success" href="/ApprovalLevel/Assign/`+data.result[i]['id'] +`"></a></td>
                                    </tr>`
                        }
                        $('#employeelist tbody').append(html);
                    },
                    error: function (data) {
                    }

                });
            }
        });


    </script>
}