@model Excellency.ViewModels.ApprovalLevelIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title"> Approval Level Assignment</h3>
        <p class="panel-subtitle">Approval Assignment per Employee</p>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Branch</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Employees)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Company</td>
                            <td>@item.Branch</td>
                            <td>@item.Department</td>
                            <td>@item.Position</td>
                            @if (item.IsSet)
                            {
                                <td><span><label class="label label-success">SET</label></span></td>
                            }
                            else
                            {
                                <td><span><label class="label label-warning">UNSET</label></span></td>
                            }
                            <td><a class="fa fa-trash text-danger" data-toggle="modal" data-target="#delete" data-id="@item.Id"></a></td>
                            <td><a class="fa fa-clone text-success" asp-controller="ApprovalLevel" asp-action="Assign" asp-route-id="@item.Id"></a></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemoveById", "ApprovalLevel"))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" />
                    <p>Are you sure you want to delete the current record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var modal = $(this)
            modal.find('.modal-body input').val(id)
        })
    </script>
}