@model Excellency.ViewModels.EmployeeSuccessAreaEvaluation
@{
    ViewData["Title"] = "Key Result Area";
}


<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title"> Key Result Area Evaluation : @Model.Name</h3>
        <p class="panel-subtitle">@Model.Title : <i>@Model.Description - Weight : @Model.Weight</i> </p>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SubmitKeyResultArea", "Evaluation"))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
            <input type="hidden" name="KeyResultAreaId" value="@Model.KeyResultAreaId" />
            int count = 0;
            @foreach (var item in Model.EvaluationSuccessIndicators)
            {
                <div class="form-group">
                    @Html.HiddenFor(m => m.EvaluationSuccessIndicators[count].Id)
                    <strong>@item.Title</strong>
                    <p>@item.Description <i>Weight - @item.Weight</i></p>
                    @Html.EditorFor(m => m.EvaluationSuccessIndicators[count].Score, new { htmlAttributes = new { @type = "number", @min = "1", @step = "1", @value = "1", @max = item.Weight, @class = "form-control" } })
                    @Html.LabelFor(m => m.EvaluationSuccessIndicators[count].Comment)
                    @Html.TextAreaFor(m => m.EvaluationSuccessIndicators[count].Comment, new { @class = "form-control" })
                </div>
                count++;
                <hr />
            }

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>
</div>