

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    @if (ViewData["Title"] == null)
    {

        <title>Excellency</title>
    }
    else
    {
        <title>@ViewData["Title"] - Excellency</title>

    }



    <environment include="Development">
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/vendor/linearicons/style.css">
        <link rel="stylesheet" href="~/vendor/chartist/css/chartist-custom.css">
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="~/css/main.css">
        <!--Chosen-->
        <link href="~/vendor/chosen/chosen.min.css" rel="stylesheet" />
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <!-- ICONS -->
        <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon.png">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/vendor/linearicons/style.css">
        <link rel="stylesheet" href="~/vendor/chartist/css/chartist-custom.css">
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="~/css/main.css">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <!-- ICONS -->
        <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon.png">
    </environment>
</head>

<body>

    <div id="wrapper">
        @Html.RenderAction("_Header","Home")
        <div id="sidebar-nav" class="sidebar">
            @Html.RenderAction("_SideBar","Home")
        </div>
        <div class="main">
            <div class="main-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">

        </div>
    </footer>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/vendor/chartist/js/chartist.min.js"></script>
    <script src="~/scripts/klorofil-common.js"></script>
    <script src="~/vendor/chosen/chosen.jquery.min.js"></script>
    <script src="~/vendor/canvasjs/canvasjs.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
