@model Excellency.ViewModels.EmployeeAssignViewModel
@{
    ViewData["Title"] = "Employee Assignment";
}

@if (!Model.IsWithActiveSeason)
{

    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <i class="fa fa-times-circle"></i> There's no active evaluation season. Please inform your administrator.
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <i class="fa fa-info-circle"></i> @Model.ActiveSeason.Title is now open. From : @Model.ActiveSeason.StartDate.ToString("MM/dd/yyyy") To : @Model.ActiveSeason.EndDate.ToString("MM/dd/yyyy")
    </div>
}
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Employee.Name</h3>
        <p class="panel-subtitle">@Model.Employee.Position</p>
    </div>
    <div class="panel-body">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Behavioral Factor</h3>
            </div>
            <div class="panel-body">
                <div>
                    @using (Html.BeginForm("SaveBehavioralFactor", "EmployeeAssignment"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="employeeid" name="employee.id" value="@Model.Employee.Id" />
                        <div class="form-group">
                            <label for="SelectedBehavioralFactors">Select Behavioral Factor to Add</label>
                            <select multiple class="chosen-select form-control" data-placeholder="Select Behavioral Factor" name="SelectedBehavioralFactors" id="SelectedBehavioralFactors">
                                @foreach (var item in Model.BehavioralFactors)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            @if (Model.IsWithActiveSeason)
                            {
                                <button type="submit" class="btn btn-primary">Add To List</button>
                            }
                        </div>
                    }
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th hidden="hidden">Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Weight</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AssignedBehavioralItems)
                            {
                                <tr>
                                    <td hidden="hidden">@item.Id</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.Weight</td>
                                    <td><a class="fa fa-trash text-danger" data-toggle="modal" data-target="#removebehavioral" data-id="@item.Id" data-employeeid="@Model.Employee.Id"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Key Result Area</h3>
            </div>
            <div class="panel-body">
                <div>
                    @using (Html.BeginForm("SaveKRAItems", "EmployeeAssignment"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="employeeid" name="employee.id" value="@Model.Employee.Id" />
                        <div class="form-group">
                            <label for="SelectedKeyResultAreas">Select Key Result Area to Add</label>
                            <select multiple class="chosen-select form-control" data-placeholder="Select Key Result Area" name="SelectedKeyResultAreas" id="SelectedKeyResultAreas">
                                @foreach (var item in Model.KeyResultAreas)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            @if (Model.IsWithActiveSeason)
                            {
                                <button type="submit" class="btn btn-primary">Add To List</button>
                            }
                        </div>
                    }
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th hidden="hidden">Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Weight</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AssignedKeyResultsItems)
                            {
                                <tr>
                                    <td hidden="hidden">@item.Id</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.Weight</td>
                                    <td><a class="fa fa-trash text-danger" data-toggle="modal" data-target="#removekra" data-id="@item.Id" data-employeeid="@Model.Employee.Id"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removebehavioral" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemoveBehavioralById", "EmployeeAssignment"))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="employeeid" id="employeeid" />
                    <input type="hidden" name="id" id="id" />
                    <p>Are you sure you want to delete the current record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="removekra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemoveKRAById", "EmployeeAssignment"))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="employeeid" id="employeeid" />
                    <input type="hidden" name="id" id="id" />
                    <p>Are you sure you want to delete the current record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".chosen-select").chosen(
                { width: "100%" }
            );
        });
    </script>
    <script type="text/javascript">
        $('#removekra').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var empployeeid = button.data('employeeid')
            var modal = $(this)
            $(".modal-body #id").val(id)
            $(".modal-body #employeeid").val(empployeeid)
        })
        $('#removebehavioral').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var empployeeid = button.data('employeeid')
            var modal = $(this)
            $(".modal-body #id").val(id)
            $(".modal-body #employeeid").val(empployeeid)
        })
    </script>
}