@model Excellency.ViewModels.BehavioralFactorPerHeaderViewModel
@{
    ViewData["Title"] = "Behavioral Factor Items";
}


<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.BehavioralFactor.Title</h3>
        <p class="panel-subtitle">@Model.BehavioralFactor.Description - Total Weight : @Model.BehavioralFactorItems.Sum(a => a.Weight)</p>
    </div>
    <div class="panel-body">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Behavioral Factor Items</h3>
                <div class="right">
                    <button data-toggle="modal" data-target="#addnew" data-headerid="@Model.BehavioralFactor.Id"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed" id="behavioralcontent">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Description</th>
                                <th>Weight</th>
                                <th scope="col" class="col-md-1"></th>
                                <th scope="col" class="col-md-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var counter = 0;}
                            @foreach (var item in Model.BehavioralFactorItems)
                            {
                                var id = "weight" + counter.ToString();
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Description</td>
                                    <td>@item.Weight <input type="hidden" id="@id" value="@item.Weight"/></td>
                                    <td class="text-center"><a data-toggle="modal" data-target="#edit" data-id="@item.Id" data-headerid="@Model.BehavioralFactor.Id" data-description="@item.Description" data-weight="@item.Weight"><i class="fa fa-pencil text-success"></i></a></td>
                                    <td class="text-center"><a data-toggle="modal" data-target="#delete" data-id="@item.Id" data-headerid="@Model.BehavioralFactor.Id"> <i class="fa fa-trash text-danger"></i></a></td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    @using (Html.BeginForm("SaveFactorItem", "BehavioralFactor",FormMethod.Post,new {@id="formadd" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Behavioral Factor Item</h4>
                </div>
                <div class="modal-body">
                    <div class="text-danger" id="savemessage"></div>
                    <input type="hidden" id="headerid" name="headerid" />
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="behavioralfactoritem.description" placeholder="Description" />
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="number" class="form-control" name="behavioralfactoritem.weight" id="weight" placeholder="Weight" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="return validateSave();">Save</button>
                </div>
            </div>
        </div>
    }
</div>

<!-- Edit -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    @using (Html.BeginForm("SaveFactorItem", "BehavioralFactor",FormMethod.Post,new { @id = "formedit" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Behavioral Factor</h4>
                </div>
                <div class="modal-body">
                    <div class="text-danger" id="editmessage"></div>
                    <input type="hidden" name="behavioralfactoritem.id" id="id" />
                    <input type="hidden" id="headerid" name="headerid" />
                    <input type="hidden" id="originaledit"/>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="behavioralfactoritem.description" placeholder="Description" />
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="number" class="form-control" name="behavioralfactoritem.weight" id="weightedit" placeholder="Weight" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="return validateEdit();">Save</button>
                </div>
            </div>
        </div>
    }
</div>
<!--End Of Edit-->
<!--Delete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemoveFactorItem", "BehavioralFactor"))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" />
                    <input type="hidden" id="headerid" name="headerid" />
                    <p>Are you sure you want to delete the current record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        }
    </div>
</div>
<!--End of Delete-->
@section Scripts{
    <script type="text/javascript">
        function validateSave() {
            var rows = document.getElementById('behavioralcontent').getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
            var weight = parseFloat($('#weight').val());
            var total = 0;
            for (var i = 0; i <= rows - 1; i++) {
                var name = "#weight" + i;
                total += parseFloat($(name).val());
            }

            var grandtotal = total + weight;
            if (grandtotal > 100) {
                document.getElementById("savemessage").innerHTML = "Total percentage should be equal to 100. You still have " + (100 - total) + " to continue.";
                return false;
            }

            else {
                formadd.submit();
            }
        }
        function validateEdit() {
            var rows = document.getElementById('behavioralcontent').getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
            var weight = parseFloat($('#weightedit').val());
            var original = parseFloat($('#originaledit').val());
            var total = 0;
            for (var i = 0; i <= rows - 1; i++) {
                var name = "#weight" + i;
                total += parseFloat($(name).val());
            }
            var grandtotal = (total - original) + weight;
            if (grandtotal > 100) {
                document.getElementById("editmessage").innerHTML = "Total percentage should be equal to 100. You still have " + (100 - total) + " to continue.";
                return false;
            }

            else {
                formedit.submit();
            }


        }
        $('#addnew').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var headerid = button.data('headerid')
            $(".modal-body #headerid").val(headerid)

        })
        $('#edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var headerid = button.data('headerid')
            var description = button.data('description')
            var weight = button.data('weight')
            $(".modal-body #id").val(id)
            $(".modal-body #headerid").val(headerid)
            $(".modal-body #description").val(description)
            $(".modal-body #weightedit").val(weight)
            $(".modal-body #originaledit").val(weight)

        })
    </script>

    <script type="text/javascript">
        $('#delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var headerid = button.data('headerid')
            $(".modal-body #id").val(id)
            $(".modal-body #headerid").val(headerid)
        })
    </script>
}